	        </div>
		</div>
		<p class="white">Trademark &copy Silviu Hoza 2017.</p>
	</div>

	<script type="text/javascript">
		// $("#find").click(function (event) {
		// 	event.preventDefault();
		// 	$.get("/results", function (data) {
		// 		alert(data);
		// 	});
		// });
	</script>
	<script src="//code.jquery.com/jquery.js"></script>
 
</body>
</html>